.customers-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &.empty-header {
    height: 100%;
  }

  .mat-form-field {
    min-width: 25rem;
  }

  .no-results-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .add-button {
      margin: 20px 0;
    }
  }

  .no-results-text {
    text-align: center;
    width: 100%;
  }

  .add-button {
    margin-left: 10px;
  }
}

.mat-row {
  &:hover {
    background-color: #eee6;
  }

  .mat-column-_buttons {
    text-align: right;

    button {
      height: 28px;
      margin-left: 5px;
      width: 28px;

      ::ng-deep .mat-button-wrapper {
        padding: 0;

        .mat-icon {
          font-size: 12px;
          height: 12px;
          margin-top: -10px;
          width: 12px;
        }
      }
    }
  }
}

.mat-column-ID {
  font-weight: bold;
}