<footer>
  <div class="db-notes">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
    <span>{{'messages.generic.dbRestore' | translate}}</span>
  </div>
  <mat-toolbar>
    <mat-form-field
      appearance="fill"  
      matTooltip="{{'i18n.language' | translate}}"
      matTooltipPosition="before"
    >
      <!--<mat-label>{{'i18n.language' | translate}}</mat-label>-->

      <mat-select
        [formControl]="formLanguages"
        name="formLanguages"
      >
        <mat-option
          *ngFor="let language of languagesList"
          [value]="language.code"         
        >
          {{language.name | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</footer>