footer {
  height: 80px;
  justify-content: space-between !important;
  padding: 20px 0 0;

  .db-notes {
    font-size: 14px;
    opacity: .5;
    padding: 0 10px;

    .mat-icon {
      font-size: 14px;
      width: 14px;
    }

    span {
      font-style: italic;
    }
  }

  .mat-toolbar {
    background-color: #fff;
    justify-content: flex-end;
    width: auto;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }

  ::ng-deep .mat-select-arrow-wrapper {
    vertical-align: bottom;
  }

  .mat-select {
    font-size: 1rem;
  }
}